/*Parallax Block*/
/*------------------------------------*/

.parallax-bg {
	position: relative;
	background: url(../images/slider/bgparalax.jpg) 20% no-repeat fixed;

	&:before {
		width: 100%;
		height: 100%;
		content: " ";
		position: absolute;
		background: rgba(255,255,255,0.8);
	}
}

.parallax-about .info-blocks-v2 {
	margin-bottom: 5px;
}

.parallax-about .title-box-v2 p,h2 {
	color: #585f69;
	position: relative;
}

.PortfolioItem {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.PortfolioHeader {
	display: flex;
	flex-direction: row;
}

.PortfolioHeader-Image {
	min-width: 40%;
	max-width: 40%;
	margin-right: 20px;
	margin-bottom: 0px;
}

.PortfolioItem-Row {
	display: flex;
	flex-direction: row;
}

.PortfolioItem-Row--reverse {
	display: flex;
	flex-direction: row-reverse;
}

.NewsletterForm {
	display: flex;
}

.NewsletterForm-inputContainer {
	display: flex;
	max-width: 200px;
}

.NewsletterForm-labelInput {
	display: flex;
	flex-direction: column;
}

.NewsletterForm-input {
	background-color: #FFF;
	border-color: #BBB;
	border-width: 1px;
	width: 200px;
}

.NewsletterForm-input--error {
	background-color: #FFF0F0;
}

.NewsletterForm-submit {
	height: 34px;
	margin-left: 20px;
}

.NewsletterForm-hidden {
	display: none;
}

@media (max-width: 1000px) {

	.PortfolioHeader {
		margin-top: 40px;
		flex-direction: column;
	}

	.PortfolioHeader-Image {
		margin-right: 0;
		max-width: none;
		margin-bottom: 20px;
	}

	.PortfolioItem-Row {
		margin-top: 0;
	}

}
