/*Parallax Block*/
/*------------------------------------*/

.parallax-bg {
	position: relative;
	background: url(../images/slider/bgparalax.jpg) 20% no-repeat fixed;

	&:before {
		width: 100%;
		height: 100%;
		content: " ";
		position: absolute;
		background: rgba(255,255,255,0.8);
	}
}

.parallax-about .info-blocks-v2 {
	margin-bottom: 5px;
}

.parallax-about .title-box-v2 p,h2 {
	color: #3c3c3d;
	position: relative;
	font-size: 14px;

}

.parallax-about .title-box-v2 h3 {
	color: #008654;
	position: relative;
	margin-bottom: 10px;
	margin-top: 20px;
}

.parallax-about .banner-info {
	margin-bottom: 40px;
}

.PortfolioItem {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.PortfolioHeader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.PortfolioHeader-Image {
	margin-right: 20px;
	margin-bottom: 0px;
}

.PortfolioItem-Row {
	display: flex;
	flex-direction: row;
}

.PortfolioItem-Row--reverse {
	display: flex;
	flex-direction: row-reverse;
}
/** PORTFOLIO ITEM BACKGROUD COLOR */
.cbp-caption-activeWrap {
  background-color: #008654; }

.NewsletterForm {
	display: flex;
}

.NewsletterForm-inputContainer {
	display: flex;
	max-width: 200px;
}

.NewsletterForm-labelInput {
	display: flex;
}

.NewsletterForm-input {
	background-color: #FFF;
	border-color: #BBB;
	border-width: 1px;

}

.NewsletterForm-input--error {
	background-color: #FFF0F0;
}

.NewsletterForm-submit {
	height: 34px;
	border: 1px solid white;
}

.NewsletterForm-hidden {
	display: none;
}

.bg-color-green1 { background-color: #008654 !important;}

.btn {
	box-shadow: none;
	border-radius: 0;
}
.btn-u {
	border: 1;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	font-weight: 400;
	padding: 6px 13px;
	position: relative;
	background: #008654;
	white-space: nowrap;
	display: inline-block;
	text-decoration: none;
}
.btn-u:hover {
	color: #fff;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.btn-u.btn-block {
	text-align: center;
}



@media (max-width: 1000px) {

	.PortfolioHeader {
		margin-top: 40px;
		flex-direction: column;
	}

	.PortfolioHeader-Image {
		margin-right: 0;
		max-width: none;
		margin-bottom: 20px;
	}

	.PortfolioItem-Row {
		margin-top: 0;
	}

}


/**SLIDER**/
/**CUBEPORTFOLIO**/
