/*Parallax Block*/
/*------------------------------------*/

.parallax-bg {
	position: relative;
	background: url(../images/slider/slide1.jpg) 20% no-repeat fixed;

	&:before {
		width: 100%;
		height: 100%;
		content: " ";
		position: absolute;
		background: rgba(255,255,255,0.8);
	}
}

.parallax-about .info-blocks-v2 {
	margin-bottom: 5px;
}

.parallax-about .title-box-v2 p,h2 {
	color: #585f69;
	position: relative;
}

.NewsletterForm {
	display: flex;
}

.NewsletterForm-inputContainer {
	display: flex;
	max-width: 200px;
}

.NewsletterForm-labelInput {
	display: flex;
	flex-direction: column;
}

.NewsletterForm-input {
	background-color: #FFF;
	border-color: #BBB;
	border-width: 1px;
	width: 200px;
}

.NewsletterForm-input--error {
	background-color: #FFF0F0;
}

.NewsletterForm-submit {
	height: 34px;
	margin-left: 20px;
}

.NewsletterForm-hidden {
	display: none;
}
